div.container
  div.row
    div.span1 &nbsp;
    div.span10 &nbsp;
    div.span1 &nbsp;
  div.row
    div.span12#linegraph
      script(type="text/javascript+protovis")
        | $(document).ready(function() {
        | $.getJSON("/lineout.json", function(data_out) {
        |   var sel = ["in", "out"];
        |   var outm = [];
        |   outm = data_out;
        |   $.getJSON("/linein.json", function(data_in) {
        |     var inm = [];
        |     var z,mx,j = '';
        |     inm = data_in;
        |     var format = pv.Format.date("%d/%m/%y");
        |     inm.forEach(function(d) { d.date = format.parse(d.date); });
        |     outm.forEach(function(d) { d.date = format.parse(d.date); });
        |     z = pv.max(inm, function(a) a.in);
        |     j = pv.max(outm, function(a) a.out);
        |     pv.naturalOrder(z,j) ? mx = z : mx = j;
        |     var w = 890,
        |     h = 200,
        |     x = pv.Scale.linear(outm, function(d) d.date).range(0, w),
        |     y = pv.Scale.linear(0, mx).range(0, h),
        |     fill = pv.colors("#4CC417", "#F75D59"),
        |     format = pv.Format.date("%d/%m/%y");
        |     var vis = new pv.Panel().canvas("linegraph")
        |       .width(w)
        |       .height(h)
        |       .bottom(20)
        |       .left(40)
        |       .right(10)
        |       .top(5)
        |       .fillStyle("#fff");
        |     vis.add(pv.Rule)
        |       .data(y.ticks())
        |       .bottom(y)
        |       .strokeStyle("#eee")
        |       .anchor("left").add(pv.Label)
        |       .visible(function() !(this.index & 1))
        |       .textMargin(6);
        |     vis.add(pv.Rule)
        |       .data(pv.range(0, 1, 1))
        |       .left(function(d) d * 70)
        |       .strokeStyle("#eee")
        |     vis.add(pv.Label)
        |       .data(x.ticks())
        |       .left(x)
        |       .bottom(0)
        |       .strokeStyle("#eee")
        |       .textBaseline("top")
        |       .textMargin(5)
        |       .text(pv.Format.date("%d/%m/%y"));
        |     vis.add(pv.Panel)
        |       .data(sel)
        |      .add(pv.Line)
        |       .data(inm)
        |       .interpolate("step-after")
        |       .left(function(d) x(d.date))
        |       .bottom(function(d, t) y(d[t]))
        |       .strokeStyle(fill.by(pv.parent))
        |       .lineWidth(2)
        |      .add(pv.Line)
        |       .data(outm)
        |       .interpolate("step-after")
        |       .left(function(d) x(d.date))
        |       .bottom(function(d, t) y(d[t]))
        |       .strokeStyle(fill.by(pv.parent))
        |       .lineWidth(2);
        |     vis.render();
        |   });
        | });
        | });
  div.row
    div.span6#leftpie
      script(type="text/javascript+protovis")
       | $(document).ready(function() {
       |   $.getJSON("/piein.json", function(data_in) {
       |     var data = new Array();
       |     var cat = new Array();
       |     var s = 0;
       |     $.each(data_in, function(i,d){
       |       data[i] = d.in;
       |       cat[i] = d.title;
       |     });
       |     var w = 400,
       |     h = 400,
       |     r = w / 2,
       |     t = 60,
       |     a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);
       |     var vis = new pv.Panel().canvas("leftpie")
       |       .width(w)
       |       .height(h)
       |       .event("mousemove", pv.Behavior.point(Infinity).collapse("r"));
       |     vis.add(pv.Wedge)
       |       .data(data)
       |       .bottom(w / 2)
       |       .left(w / 2)
       |       .innerRadius(r - t)
       |       .outerRadius(r)
       |       .angle(a)
       |     .anchor("outer").add(pv.Label)
       |       .visible(function(d) d > 1000)
       |       .textMargin(t + 5)
       |       .text(function(d) Math.round(d)+" руб.")
       |       .title(function(d) {s += s + 1;return cat[s-1];})
       |       .event("point", pv.Behavior.tipsy({gravity: $.fn.tipsy.autoNS}));
       |     vis.add(pv.Label)
       |       .left((w/2)-37)
       |       .bottom((h/2)-10)
       |       .strokeStyle("#000")
       |       .font(20 + "px sans-serif")
       |       .text("Приход");
       |     vis.render();
       |   });
       | });
    div.span6#rightpie
      script(type="text/javascript+protovis")
       | $(document).ready(function() {
       |   $.getJSON("/pieout.json", function(data_out) {
       |     var data = new Array();
       |     var cat = new Array();
       |     var s = 0;
       |     $.each(data_out, function(i,d){
       |       data[i] = d.out;
       |       cat[i] = d.title;
       |     });
       |     var w = 400,
       |     h = 400,
       |     r = w / 2,
       |     t = 60,
       |     a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);
       |     var vis = new pv.Panel().canvas("rightpie")
       |       .width(w)
       |       .height(h)
       |       .event("mousemove", pv.Behavior.point(Infinity).collapse("r"));
       |     vis.add(pv.Wedge)
       |       .data(data)
       |       .bottom(w / 2)
       |       .left(w / 2)
       |       .innerRadius(r - t)
       |       .outerRadius(r)
       |       .angle(a)
       |     .anchor("outer").add(pv.Label)
       |       .visible(function(d) d > 1000)
       |       .textMargin(t + 5)
       |       .text(function(d) Math.round(d)+" руб.")
       |       .title(function(d) {s += s + 1;return cat[s-1];})
       |       .event("point", pv.Behavior.tipsy({gravity: $.fn.tipsy.autoNS}));
       |     vis.add(pv.Label)
       |       .left((w/2)-37)
       |       .bottom((h/2)-10)
       |       .strokeStyle("#000")
       |       .font(20 + "px sans-serif")
       |       .text("Расход");
       |     vis.render();
       |   });
       | });
  div.row
    div.span6#table_in
      script(type="text/javascript")
        $(document).ready(function() {
          var items = "<table class='table table-striped'>";
          items += "<thead><tr><th>Дата</th><th>Сумма</th><th>Описание</th></tr></thead>";
          $.getJSON("/tablein.json", function(data_in) {
            items += "<tbody>";
            $.each(data_in, function(i,d){
              items += "<tr><td>"+d.date+"</td><td class='green'>"+d.in+"</td><td>"+d.title+"</td></tr>";
            });
            items += "</tbody></table>";
            $("#table_in").append(items);
          });
        });
    div.span6#table_out
      script(type="text/javascript")
        $(document).ready(function() {
          var items = "<table class='table table-striped'>";
          items += "<thead><tr><th>Дата</th><th>Сумма</th><th>Описание</th></tr></thead>";
          $.getJSON("/tableout.json", function(data_out) {
            items += "<tbody>";
            $.each(data_out, function(i,d){
              items += "<tr><td>"+d.date+"</td><td class='red'>"+d.out+"</td><td>"+d.title+"</td></tr>";
            });
            items += "</tbody></table>";
            $("#table_out").append(items);
          });
        });
  div.row
    div.span12
      a.pull-right(href="mailto:me@sovechkin.com") Для писем