!!! 5
html
  head
    meta(charset="utf-8")
    title= title
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/protovis.min.js")
    script(src="/javascripts/all.js")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/styles.css")
  body!= body