doctype 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    != CDN("/css/bootstrap.min.css")
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    != CDN("/css/bootstrap-responsive.min.css")
    != CDN("/css/main.css")
    != CDN("/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
  body
    //if lt IE 7
      p(class="chromeframe")Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите его</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируйте Google Chrome Frame</a>.
    block content
    != CDN("/js/vendor/jquery-1.9.0.min.js")
    != CDN("/js/vendor/bootstrap.min.js")
    != CDN("/js/main.js")
    script
      var _gaq=[['_setAccount','UA-3260762-23'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));