.green{color:#4cc417}
.red{color:#f75d59}
.tipsy{pointer-events:none;padding:5px;font-size:10px;position:absolute;z-index:100000}
.tipsy-inner{padding:5px 8px 4px 8px;background-color:#000;color:#fff;max-width:200px;text-align:center}
.tipsy-inner{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}
.tipsy-arrow{position:absolute;width:9px;height:5px}
.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px}
.tipsy-nw .tipsy-arrow{top:0;left:10px}
.tipsy-ne .tipsy-arrow{top:0;right:10px}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px}
.DoubleTrackBar{height:70px;width:760px;margin-top:10px;background:url("/img/grey-scroll.png") left center repeat-x;position:relative}
.DoubleTrackBar .start,.DoubleTrackBar .finish{margin:-3px 0;position:absolute;z-index:20;top:50%;left:-3px}
.DoubleTrackBar .finish{left:auto;right:-3px}
.DoubleTrackBar .Tracker{margin:-16px 0;position:absolute;z-index:50;height:32px;font-size:0;background:url("/img/blue-scroll.png") left center repeat-x;top:50%}
.DoubleTrackBar .Tracker .flr,.DoubleTrackBar .Tracker .fll{margin:-9px -7px;position:absolute;top:50%;width:12px;height:19px;z-index:60}
.DoubleTrackBar .Tracker .flr{left:100%}
.DoubleTrackBar .Tracker .fll{left:auto;text-align:right;right:100%}
.DoubleTrackBar .Tracker .dis{opacity:.4;filter:Alpha(40)}
.DoubleTrackBar .Tracker .text{top:-20px;z-index:20;margin:0;height:auto;font-size:11px;font-family:Trebuchet MS;white-space:nowrap;width:100px}
.DoubleTrackBar .touch{position:absolute;z-index:40;text-align:center;background:#aaa;width:1px;height:13px;top:30px}
.DoubleTrackBar .touch span{position:absolute;top:14px;left:-10px;color:#aaa;font-size:10px;font-family:Trebuchet MS;white-space:nowrap}
.b-cfont{padding:20px 0}
.g-cfont{font-size:20px;text-align:center;padding-top:10px}
.g-bigc{font-size:20px;text-align:center;padding-top:80px}
